@page
@model MyDetails.Pages.Users.IndexModel 
@{
    ViewData["Title"] = "User Page";
}


<br>
<h2>List of Users</h2>
<a class='btn btn-primary btn-sm' href='/Users/Create'> Add new user</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Manager Name</th>
            <th>Created Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.listUsers)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.userName</td>
                <td>@item.name</td>
                <td>@item.email</td>
                <td>@item.phone</td>
                <td>@item.address</td>
                <td>@item.manager_name</td>
                <td>@item.created_at</td>
                <td>@item.status</td>
                <td>
                    <a class="btn btn-outline-primary btn-sm m-1" href="/Users/Edit?id=@item.id">Edit</a>
                    <a class="btn btn-outline-danger btn-sm m-1" href="/Users/Delete?id=@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>